[submodule "modules/voxel"]
	path = modules/voxel
	url = git@github.com:Zylann/godot_voxel.git
[submodule "ProjectV"]
	path = ProjectV
	url = git@github.com:tjysdsg/ProjectV.git
[submodule "ProjectC"]
	path = ProjectC
	url = git@github.com:tjysdsg/ProjectC.git
